
* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
    padding: 0;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
		transition: all 0.4s linear;

	font-family: 'Myriad Pro';
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MYRIADPRO-BOLD.OTF');
	font-weight: bold;
	font-style: normal;
}

.container {
	background: url(../img/bg/bg_2.png) no-repeat;
	height: 600px;
	margin: 0 auto;
	width: 960px;
}

.blockSolarSys {
	display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
	border-bottom: 2px solid #fff;
	height: 228px;
	width: 100%;
}

	.blockSolarSys li {
		cursor: pointer;
		margin-right: 20px;
	}

		.sol {
			cursor: no-drop !important;
		}

		.blockSolarSys li:last-child {
			margin-right: 0;
		}

.blockContents {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	height: 370px;
	padding: 0 30px;
	width: 100%;
}

	.img-planet {
		margin-right: 20px;
	}

	.blockContents-wrapT {
		display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    flex-flow: column;
		/*background: #CCC;*/
		color: #FFF;
		height: 100%;
	    padding: 20px;
	    overflow: hidden;
		text-transform: capitalize;
		width: 600px;
	}

		.titulo {
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		.descricoes {
			height: 260px;
    		overflow: hidden;
		}	

			.descricoes p {
				line-height: 23px;
				text-indent: 30px;
			}


		.bullets {
			display: flex;
		}

			.bull-item {
			    border-radius: 50%;
			    background: #FFF;
			    color: #000;
			    cursor: pointer;
			    line-height: 20px;
			    height: 20px;
			    margin-right: 8px;
			    text-align: center;
				width: 20px;
			}

				.bull-item:last-child {
					margin-right: 0;
				}

				.bull-item.active {
					background: red;
					color: #FFF;	
				}
